.wrapper {
    grid-area: p;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    margin: 0.5em 0;
    border-radius: 1.25em;
    max-height: 83vh;
    border: 4px solid var(--main-interface-color);
    overflow-x: hidden;
    color: var(--color1);
}

.list {
    overflow-y: scroll;
}

.input {
    background-color: var(--main-interface-color);
    border: 0;
    margin: 0.5em;
    border-radius: 0.5em;
}

.interaction {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}